# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- Python
- R
- SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. JavaScript
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy

|Data Science Tools|
|:----------------:|
|Jupyter Notebook|
|Jupyter Lab|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [25]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+511-authordetails.png

17

In [33]:
#This will convert 200 minutes to hours by diving by 60
minutes = '200 minutes'
minutes, text = minutes.split(' ')
print(f'{float(minutes) / 60} hours')

3.3333333333333335 hours

## Author
Patrick